.novel{
    display: grid;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: grid;
    box-shadow: 10px 10px 10px black;
    border-radius: 10px;
    border-style:groove;
    border-color: black;
    height: 630px;
    width: 500px;

}
.novel img{
    height: 300px;
    width: 250px;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
    border-radius: 20px;
    text-align: center;

    
}
.novels{
    grid-template-columns: repeat(3,1fr);
    display: grid;

}
h1{
    background-color: gray;
    text-align: center;
    height: 60px;
    text-align: center;
    justify-content: center;
    align-items: center;

}
button{

    width: 80px;
    padding: 5px;
    margin: 10px    ;
    background-color: black;
    color: white;
    border-radius: 10PX;
    
    
}
h2{
    text-decoration: underline;
    background-color: gray;
    width: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.novel:hover{
    background-color:lightgray;
    position: relative;

}
.cart{
    align-items: end;
    text-align:end;
    gap: 100px;
}